@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cyberpunk';
  src: url('../public/fonts/Cyberpunk-Regular.ttf');
}

@font-face {
  font-family: "Valo";
  src: url('../public/fonts/Valorax-lg25V.otf');
}

@layer utilities {
  .game-box {
    clip-path: polygon(20% 0%, 90% 0, 100% 9%, 100% 80%, 100% 100%, 9% 99%, 0 89%, 0 0);
  }

  .leaderboard-box {
    clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
  }

  .login-box {
    clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
  }

  .input-box {
    clip-path: polygon(50% 0%, 100% 0, 100% 71%, 87% 100%, 0 100%, 0 0);
  }

  .form-button-box {
    clip-path: polygon(50% 0%, 100% 0, 100% 71%, 87% 100%, 0 100%, 0 0);
  }
}