
/* Main stylization for website */
@font-face {
    font-family: cyberpunk;
    src: url('../public/Cyberpunk-Regular.ttf');
}

main {
    background-image: url('../public/mainbackground.png');
    background-size: cover;
    height: auto;
}

h1 {
    color: yellow;
    background-color: black;
    font-family: cyberpunk;
}

.gameList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trending_gameList {
    display: flex;
    justify-content: space-evenly;
}
.programming_gameList{
    display: flex;
    justify-content: space-evenly;
}
.fun_gameList{
    display: flex;
    justify-content: space-evenly;
}

.gameBox {
    text-align: center;
    background-color: #0072b1;
    height: 250px;
    width: 200px;
    -webkit-clip-path: polygon(20% 0%, 90% 0, 100% 9%, 100% 80%, 100% 100%, 9% 99%, 0 89%, 0 0);
    clip-path: polygon(20% 0%, 90% 0, 100% 9%, 100% 80%, 100% 100%, 9% 99%, 0 89%, 0 0);
    margin: 20px;
    
}

.leaderboard_box{
    text-align: center;
    background-color: #0072b1;
    height: 500px;
    width: 500px;
   -webkit-clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%); 
    clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
    float:right

}

hr{
    width: 50%;
    text-align: center;
    margin: auto;
}


/* footer stylization */
footer {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

p {
    background-color: black;
    color: white;
}

/*Header stylization*/
ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    
}

a {
    text-decoration: none;
}

.nav-item {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    background: linear-gradient(to bottom, #a90329 0%,#a90329 15%,#a90329 15%,#a90329 29%,#8f0222 36%,#8f0222 39%,#6d0019 63%,#6d0019 92%); 
    opacity: .80;
    height: 40px;
    width: 90px;
    -webkit-clip-path: polygon(69% 0, 100% 0, 100% 100%, 12% 100%, 0 88%, 0 4%, 58% 4%); clip-path: polygon(69% 0, 100% 0, 100% 100%, 12% 100%, 0 88%, 0 4%, 58% 4%);

}

.nav-logo{
    text-align: center;
    padding-top: 5px;
    background-color: #0072b1;
    height: 80px;
    width: 120px;
    -webkit-clip-path: polygon(69% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0, 58% 0); 
    clip-path: polygon(69% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0, 58% 0);
}

/*Game pages sytlization*/
.displayGame
{
    text-align: center;
    background-color: #0072b1;
    height: 600px;
    width: 1000px;
    margin: auto;
    justify-content: center;
}

.gameThing
{
    text-align: center;
    background-color: #000000;
    height: 400px;
    width: 600px;
    margin: auto;
}