/* Main stylization for website */
@font-face {
    font-family: cyberpunk;
    src: url('../public/Cyberpunk-Regular.ttf');
}

@font-face {
    font-family: cyber_text;
    src: url('../public/Valorax-lg25V.otf');
}

main {
    /* background-image: url('../public/mainbackground.png');
    background-size: cover; */
    background-image: linear-gradient(to bottom, #050b13, #11131e, #1c1727, #2b192e, #3c1b30, #431a2f, #4a192c, #511929, #511627, #501324, #501022, #4f0c1f);
    height: auto;
}

/* h1 {
    color: yellow;
    background-color: black;
    font-family: cyberpunk;
} */

.gameList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.trending_gameList {
    display: flex;
    justify-content: space-evenly;
}

.programming_gameList {
    display: flex;
    justify-content: space-evenly;
}

.fun_gameList {
    display: flex;
    justify-content: space-evenly;
}

.gameBox {
    text-align: center;
    background-color: #0072b1;
    height: 250px;
    width: 200px;
    -webkit-clip-path: polygon(20% 0%, 90% 0, 100% 9%, 100% 80%, 100% 100%, 9% 99%, 0 89%, 0 0);
    clip-path: polygon(20% 0%, 90% 0, 100% 9%, 100% 80%, 100% 100%, 9% 99%, 0 89%, 0 0);
    margin: 20px;

}

.leaderboard_box {
    text-align: center;
    background-color: #0072b1;
    height: 500px;
    width: 500px;
    -webkit-clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
    clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
    float: right
}

hr {
    width: 50%;
    text-align: center;
    margin: auto;
}


/* footer stylization */
footer {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom, #4f0c1f, #410f28, #30122b, #201428, #131221, #0e101d, #090e18, #050b13, #050b13, #050b13, #050b13, #050b13);
}

/* p {
    background-color: black;
    color: white;
} */

/*Header stylization*/
header {
    background-color: rgba(5,12,18,255);
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;

}

button {
    text-decoration: none;
    color: rgba(88,221,229,255);
}

.nav-item {
    background-color: rgba(44,17,25,0.6);
    color: rgba(88,221,229,255);
    text-align: center;
    border-width: 3px;
    border-color: rgba(88,221,229,255);
    padding: 15px;
    /* background: linear-gradient(to bottom, #a90329 0%, #a90329 15%, #a90329 15%, #a90329 29%, #8f0222 36%, #8f0222 39%, #6d0019 63%, #6d0019 92%); */
    /* opacity: .80; */
    height: 40px;
    width: 90px;
    -webkit-clip-path: polygon(69% 0, 100% 0, 100% 100%, 12% 100%, 0 88%, 0 4%, 58% 4%);
    clip-path: polygon(69% 0, 100% 0, 100% 100%, 12% 100%, 0 88%, 0 4%, 58% 4%);
}

.nav-item:hover {
    background-color: rgba(106,39,44,255);
}

.nav-logo {
    text-align: center;
    padding-top: 5px;
    background-color: #0072b1;
    height: 80px;
    width: 120px;
    -webkit-clip-path: polygon(69% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0, 58% 0);
    clip-path: polygon(69% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 0, 58% 0);
}

/*Game pages sytlization*/
/* .displayGame {
    text-align: center;
    background-color: #0072b1;
    height: 600px;
    width: 1000px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.gameThing {
    text-align: center;
    background-color: #000000;
    height: 400px;
    width: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
} */

/* ABOUT PAGE STYLE ---- Starts-----*/

.profile_about_Box{
    border-style: solid;
    border-width: 3px;
    border-color:  rgba(88,221,229,255);
    text-align: center;
    background-color: rgba(6,11,19,0.8);
    height: 450px;
    width: 600px;
    clip-path: polygon(50% 0%, 91% 0, 100% 10%, 100% 100%, 8% 100%, 0 91%, 0 0);
    margin: 50px;
    margin-top: 50px;
 
    
}

.profile_about_Box:hover{
    background-color: rgba(106,39,43,255);


}

.box_profile_img{
    background: rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 250px;
    position: absolute;
    z-index: 2;
    margin-left: 380px;
    margin-bottom: 400px;

}


.profileBox_right_side{
    text-align: center;
    background-color: rgba(6,11,19,255);
    border-width: 3px;
    border-color: rgba(88,221,229,255);
    height: 450px;
    width: 600px;
    clip-path: polygon(50% 0%, 91% 0, 100% 10%, 100% 100%, 8% 100%, 0 91%, 0 0);
    margin: 50px;
    float: right;

}

.box_profile_img_right{
    background: rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 250px;
    position: absolute;
    z-index: 2;
    right: 330px;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 400px;
    
}

.white_profileBox{
    background: rgba(0,0,0,0);
    height: 500px;
    width: 400px;

}

.about_description{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(88,221,229,255);
    border-width: 3px;
    height: 320px;
    width: 650px;
    clip-path: polygon(50% 0%, 100% 0, 100% 88%, 95% 100%, 25% 100%, 0 100%, 0 0);
    margin-left: 100px;
    margin-top: 100px;
    
    
}


.about_title_page{
    padding-top: 70px;
    margin-left: 100px;
    font-size: 100px;
    color: yellow;
    font-family: cyberpunk;
    background: rgba(0,0,0,0);
    font-weight: bolder;

}

#about_logo{
    margin-left: 100px;

}


.profile_desciptions{
    background: rgba(0, 0, 0, 0);
    padding-left: 30px;    
    padding-top: 100px;
    text-align: left;
    font-family: cyber_text;
    font-size: 1.00rem;
    text-transform: uppercase;
    color:rgba(26,250,141,255);
    line-height: 2;
    font-weight: bold;

}

.profile_desciptions_right{
    background: rgba(0, 0, 0, 0);
    padding-left: 280px;    
    padding-top: 100px;
    text-align: left;
    font-family: cyber_text;
    font-size: 1.00rem;
    text-transform: uppercase;
    color:rgba(26,250,141,255);;
    line-height: 2;
    font-weight: bold;
    
}

.about_text{
    background: rgba(0, 0, 0, 0);
    text-align: left;
    padding: 50px;
    font-family: Tomorrow, sans-serif;
    font-size: 1.00rem;
    text-transform: uppercase;
    color: rgba(26,250,141,255);
    line-height: 2;
    font-weight: bold;
}

.color_text{
    color: rgb(255, 255, 255);
}

#About_page{
    background-image: linear-gradient(to bottom, #050b13, #11131e, #1c1727, #2b192e, #3c1b30, #431a2f, #4a192c, #511929, #511627, #501324, #501022, #4f0c1f);
    
}

.footer_repeater{
    position: absolute;
    width: 100%;
      
}

.footer_grid{
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 200px;
    
}

.footer_grid_item{
    text-align: left;

}

.footer_title{
    background: rgba(0, 0, 0, 0);
    font-family: BlenderProBold,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #29bffd;
    line-height: 2;
    font-weight: bold;

}

.footer_text{
    background: rgba(0, 0, 0, 0);
    font-family: BlenderProBold,sans-serif;
    font-size: .875rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 2;

}


.footer_text:hover{
    text-decoration: underline;
    color: #29bffd;
    cursor: pointer;
}

.rights_text{
    background: rgba(0, 0, 0, 0);
    margin-top: 80px;
    font-family: 'Courier New', Courier, monospace;
   
}
    
/* Profile page styles */

body#profile {
    background-image: url('../public/account-image.gif') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    padding-top: 50px;

}
.profileBackground{
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.profileContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    
}

.profileBox{
    text-align: left;
    display: inline-block;
    position: relative;
    /* transform: translateX(40%); */
    background-color: #0072b1;
    height: 300px;
    width: 400px;
    -webkit-clip-path: polygon(20% 0%, 90% 0, 100% 9%, 100% 80%, 100% 100%, 9% 99%, 0 89%, 0 0);
    clip-path: polygon(15% 0, 100% 0, 100% 85%, 86% 100%, 0 100%, 0 14%);
    margin: 20px;
    z-index: 2;
}

.profile-info{
    width: 200px;
    font-weight: bold;
}

.profilePictureBox{
    position: absolute;
    text-decoration-color: aliceblue;
    top: -150px;
    transform: translate(-160px, 50px);
    text-align: center;
    background-color: #000;
    height: 250px;
    width: 400px;
    clip-path: circle(20%);
    margin: 20px;
    z-index: 3;
}
.descriptionContainer{
    /* top: 30px; */
    background-color: #000;
    height: 250px;
    width: 400px;
    margin: 10px;
    z-index: 2;
    
}

.columnBox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .titleBox-small {
    width: 200px;
    height: 60px;
    background-color: #0072b1;
    margin: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%)
  }
  .titleBox-big {
    width: 400px;
    height: 600px;
    background-color: #0072b1;
    margin: 20px;
    margin-bottom: 300px;
    clip-path: polygon(0% 0%, 89% 0, 100% 7%, 100% 100%, 0% 100%);
  }

  input[type="file"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

/* LOGIN PAGE STYLIZATION */
.formPages {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox {
    height: 400px;
    width: 400px;
    background-color: rgba(0,0,0,0.4);
    border-color: rgba(88,221,229,255);
    border-width: 3px;
    color: rgba(26,250,141,255);
    padding: 36px;
    -webkit-clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
    clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
}

.formTitle {
    all: unset;
    font-size: 24px;
    
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.inputEntry {
    height: 30px;
    width: 250px;
    margin: 10px 0px;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 71%, 87% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 71%, 87% 100%, 0 100%, 0 0);
}

.formButtonNav {
    margin-top: 5px;
}

.formButton {
    color: black;
    background-color: rgba(26,250,141,0.4);
    border-color: rgba(26,250,141,255);
    border-width: 2px;
    height: 30px;
    width: 75px;
    margin-right: 5px;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 71%, 87% 100%, 0 100%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 71%, 87% 100%, 0 100%, 0 0);
}

.formButton:hover {
    background-color: rgba(26,250,141,255);
}

.loginForm a {
    margin-top: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.loginForm a:hover {
    text-decoration: none;
}

/* REGISTRATION PAGE STYLIZATION */
.registerBox {
    height: 400px;
    width: 400px;
    background-color: #0072b1;
    padding: 36px;
    -webkit-clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
    clip-path: polygon(0 100%, 0 7%, 8% 0, 79% 0, 84% 6%, 94% 6%, 100% 11%, 100% 65%, 95% 73%, 95% 85%, 81% 100%, 29% 100%);
}

.registerForm {
    display: flex;
    flex-direction: column;
}


/* SETTING(Account) PAGE STYLE ---- STARTS-----*/

#Account_page{
    background-image: linear-gradient(to bottom, #050b13, #11131e, #1c1727, #2b192e, #3c1b30, #431a2f, #4a192c, #511929, #511627, #501324, #501022, #4f0c1f);

}

.setting_headers{
    background: rgba(0, 0, 0, 0);
    font-family: cyber_text;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    margin: 100px;
    
}


/* SETTING(Account) PAGE STYLE ---- ENDS-----*/
